body{
  font-family:Arial, Helvetica, sans serif,
}

button{
  padding: 10px;
  background-color:rgba(25,32,72,1);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  transition: filter .3s ease-in-out;
  display: block;
  margin: 10px 0;
}
