/Lista-Exercicio/exercicio35/nbproject/private/
/Lista-Exercicio/exercicio35/build/
/Lista-Exercicio/exercicio02/nbproject/private/
/Lista-Exercicio/exercicio02/build/
/Lista-Exercicio/exercicio03/nbproject/private/
/Lista-Exercicio/exercicio03/build/
/Lista-Exercicio/exercicio04/nbproject/private/
/Lista-Exercicio/exercicio04/build/
/Lista-Exercicio/exercicio05/nbproject/private/
/Lista-Exercicio/exercicio05/build/
/Lista-Exercicio/exercicio06/nbproject/private/
/Lista-Exercicio/exercicio06/build/
/Lista-Exercicio/exercicio07/nbproject/private/
/Lista-Exercicio/exercicio07/build/
/Lista-Exercicio/exercicio08/nbproject/private/
/Lista-Exercicio/exercicio08/build/
/Lista-Exercicio/exercicio09/nbproject/private/
/Lista-Exercicio/exercicio09/build/
/Lista-Exercicio/exercicio10/nbproject/private/
/Lista-Exercicio/exercicio10/build/
/Lista-Exercicio/exercicio11/nbproject/private/
/Lista-Exercicio/exercicio11/build/
/Lista-Exercicio/exercicio12/nbproject/private/
/Lista-Exercicio/exercicio12/build/
/Lista-Exercicio/exercicio13/nbproject/private/
/Lista-Exercicio/exercicio13/build/
/Lista-Exercicio/exercicio14/nbproject/private/
/Lista-Exercicio/exercicio14/build/
/Lista-Exercicio/exercicio16/nbproject/private/
/Lista-Exercicio/exercicio16/build/
/Lista-Exercicio/exercicio17/nbproject/private/
/Lista-Exercicio/exercicio17/build/
/Lista-Exercicio/exercicio18/nbproject/private/
/Lista-Exercicio/exercicio18/build/
/Lista-Exercicio/exercicio19/nbproject/private/
/Lista-Exercicio/exercicio19/build/
/Lista-Exercicio/exercicio21/nbproject/private/
/Lista-Exercicio/exercicio21/build/
/Lista-Exercicio/exercicio23/nbproject/private/
/Lista-Exercicio/exercicio23/build/
