<section>
  <div class="img-cadastro">
    <img src="../../assets/people.png" alt="cadastro">
  </div>
  <form>
    <h1>Cadastrar</h1>
    <h2>Nome</h2>
    <input id="aluno" type="text"  placeholder="Digite o nome do aluno" >
    <h2>Primeira Nota</h2>
    <input id="primeiraNota" type="text" placeholder="Digite a primeira nota" >
    <h2>Segunda Nota</h2>
    <input id="segundaNota" type="text" placeholder="Digite a segunda nota" >
    <button type="button" (click)="cadastrar()" class="btn btn-info">Cadastrar</button>
  </form>

</section>
