<app-card titulo="Primeiro Componente" cor="#3D4D63">
  <app-primeiro-componente></app-primeiro-componente>
</app-card>

<app-card titulo="Aprofundando o Conhecimento em Templates (segundo componente)" cor="#B2E7E8">
  <app-segundo-componente></app-segundo-componente>
</app-card>

<app-card titulo="Pipe Customizado" cor="#b9db92">
  <app-pipe-customizado></app-pipe-customizado>
</app-card>

<app-card titulo="two way data binding" cor="#BFB9AA">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>

<app-card titulo="Renderizando Listas" cor="#F2D096">
  <app-renderizando-listas></app-renderizando-listas>
</app-card>

<app-card titulo="Componente Personalizado (Input)" cor="#ED8975">
  <app-componente-personalizado nome="João" sobrenome="da silva"></app-componente-personalizado>
</app-card>

<app-card titulo="Compartilhando Dados entre Componentes" cor="#FFE3DC">
  <app-componente-pai></app-componente-pai>
</app-card>

<app-card titulo="Serviços" cor="#A2AD91">
  <app-exemplo-servicos1></app-exemplo-servicos1>
  <app-exemplo-servicos2></app-exemplo-servicos2>
</app-card>

<app-card titulo="Ciclo de Vida" cor="#3A2D32">
  <!--<app-ciclo-de-vida></app-ciclo-de-vida>-->
  <app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>
</app-card>
